# yaml-language-server: $schema=https://raw.githubusercontent.com/aquaproj/aqua/main/json-schema/registry.json
packages:
  - type: github_release
    repo_owner: traefik
    repo_name: yaegi
    description: Yaegi is Another Elegant Go Interpreter
    asset: yaegi_{{.Version}}_{{.OS}}_{{.Arch}}.{{.Format}}
    format: tar.gz
    supported_envs:
      - linux
      - darwin
    checksum:
      type: github_release
      asset: yaegi_{{trimV .Version}}_checksums.txt
      algorithm: sha256
    version_constraint: semver(">= 0.10.0")
    version_overrides:
      - version_constraint: semver(">= 0.9.23")
        rosetta2: true
      - version_constraint: semver(">= 0.9.14")
      - version_constraint: semver("< 0.9.14")
        rosetta2: true
