---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - run: echo "AQUA_GLOBAL_CONFIG=${AQUA_GLOBAL_CONFIG:-}:${PWD}/aqua-all.yaml" >> "$GITHUB_ENV"
      - uses: aquaproj/aqua-installer@9ebf656952a20c45a5d66606f083ff34f58b8ce0 # v4.0.0
        with:
          aqua_version: v2.53.3
          aqua_opts: -l -a
          policy_allow: "true"

      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s

      - name: Configure NPM_CONFIG_PREFIX
        run: echo NPM_CONFIG_PREFIX="$HOME/npm-global" >> "$GITHUB_ENV"
      - run: echo "$NPM_CONFIG_PREFIX/bin" >> "$GITHUB_PATH"
      - name: Install prettier
        run: npm i -g prettier
      - name: Format code by prettier
        run: prettier -w .

      - name: Fix registry.yaml
        run: cmdx gr

      - uses: suzuki-shunsuke/autofixci-action@989fe99ca39af1980b3515837570511eea7c6285 # v1.3.2-2
