---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - run: echo "AQUA_GLOBAL_CONFIG=${AQUA_GLOBAL_CONFIG:-}:${PWD}/aqua-all.yaml" >> "$GITHUB_ENV"
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
          aqua_opts: -l -a
          policy_allow: "true"

      - name: install nllint
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
        run: nllint -v
      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s

      - name: Configure NPM_CONFIG_PREFIX
        run: echo NPM_CONFIG_PREFIX="$HOME/npm-global" >> "$GITHUB_ENV"
      - run: echo "$NPM_CONFIG_PREFIX/bin" >> "$GITHUB_PATH"
      - name: Install prettier
        run: npm i -g prettier
      - name: Format code by prettier
        run: prettier -w .

      - name: install cmdx
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
        run: cmdx --version
      - name: Fix registry.yaml
        run: cmdx gr

      - name: install keep-sorted
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
        run: |
          keep-sorted --version
      - name: keep-sorted
        run: |
          git grep -l " keep-sorted start" | grep -v autofix.yaml | xargs keep-sorted

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8 # v1.3.3
