---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - run: echo "AQUA_GLOBAL_CONFIG=${AQUA_GLOBAL_CONFIG:-}:${PWD}/aqua-all.yaml" >> "$GITHUB_ENV"
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
          aqua_opts: -l -a
          policy_allow: "true"

      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s

      - name: Configure NPM_CONFIG_PREFIX
        run: echo NPM_CONFIG_PREFIX="$HOME/npm-global" >> "$GITHUB_ENV"
      - run: echo "$NPM_CONFIG_PREFIX/bin" >> "$GITHUB_PATH"
      - name: Install prettier
        run: npm i -g prettier
      - name: Format code by prettier
        run: prettier -w .

      - name: Fix registry.yaml
        run: cmdx gr

      - name: keep-sorted
        run: |
          git grep -l " keep-sorted start" | grep -v autofix.yaml | xargs keep-sorted

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
