---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - run: echo "AQUA_GLOBAL_CONFIG=${AQUA_GLOBAL_CONFIG:-}:${PWD}/aqua-all.yaml" >> "$GITHUB_ENV"
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.46.1-0
          aqua_opts: -l -a
          policy_allow: "true"

      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s

      - name: Configure NPM_CONFIG_PREFIX
        run: echo NPM_CONFIG_PREFIX="$HOME/npm-global" >> "$GITHUB_ENV"
      - run: echo "$NPM_CONFIG_PREFIX/bin" >> "$GITHUB_PATH"
      - name: Install prettier
        run: npm i -g prettier
      - name: Format code by prettier
        run: prettier -w .

      - name: Fix registry.yaml
        run: cmdx gr

      - uses: suzuki-shunsuke/autofixci-action@a148ca710fd8bf5d9959d5d7604018ce8a77bad0 # v1.3.2-1
