---
name: Count packages
on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # daily
jobs:
  count-packages:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - run: |
          set -euo pipefail
          n=$(find pkgs -name registry.yaml | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: aqua
      - run: |
          set -euo pipefail
          n=$(asdf plugin list all | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: asdf
      - run: |
          set -euo pipefail
          n=$(mise p ls-remote --only-names | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: mise
      - run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          NUMBER: "19792"
          BODY: |
            mise: ${{steps.mise.outputs.count}}
            asdf: ${{steps.asdf.outputs.count}}
            aqua: ${{steps.aqua.outputs.count}}
          GITHUB_TOKEN: ${{github.token}}
