---
name: Count packages
on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # daily
jobs:
  count-packages:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
      - run: |
          set -euo pipefail
          n=$(find pkgs -name registry.yaml | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: aqua
      - run: |
          set -euo pipefail
          n=$(asdf plugin list all | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: asdf
      - run: |
          set -euo pipefail
          n=$(mise p ls-remote --only-names | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: mise
      - run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          NUMBER: "19792"
          BODY: |
            mise: ${{steps.mise.outputs.count}}
            asdf: ${{steps.asdf.outputs.count}}
            aqua: ${{steps.aqua.outputs.count}}
          GITHUB_TOKEN: ${{github.token}}
