---
name: Count packages
on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # daily
jobs:
  count-packages:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - uses: asdf-vm/actions/setup@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3.0.2
      - uses: jdx/mise-action@3e282fcd55c8de21f232397e9fb876cd33e612f1 # v2.0.3
      - run: |
          set -euo pipefail
          n=$(find pkgs -name registry.yaml | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: aqua
      - run: |
          set -euo pipefail
          n=$(asdf plugin list all | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: asdf
      - run: |
          set -euo pipefail
          n=$(mise p ls-remote --only-names | wc -l)
          echo "count=$n" >> "$GITHUB_OUTPUT"
        id: mise
      - run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          NUMBER: "19792"
          BODY: |
            mise: ${{steps.mise.outputs.count}}
            asdf: ${{steps.asdf.outputs.count}}
            aqua: ${{steps.aqua.outputs.count}}
          GITHUB_TOKEN: ${{github.token}}
