---
name: Generate registry.yaml
env:
  AQUA_POLICY_CONFIG: ${{ github.workspace }}/aqua-policy.yaml
on:
  push:
    branches: [main]
    paths:
      - .github/workflows/generate-registry.yaml
      - aqua/generate-registry.yaml
      - registry.yaml
      - pkgs/**/registry.yaml
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/generate-registry.yaml
      - aqua/generate-registry.yaml
      - registry.yaml
      - pkgs/**/registry.yaml
jobs:
  generate-registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
      - uses: aquaproj/aqua-installer@c553e04154f1f3b7e5eb35da058db3bb782bee8a # tag=v1.1.2
        with:
          aqua_version: v1.24.0-3
      - uses: aquaproj/registry-action/generate-registry@39773065a44549758440b90a9e25f713c7e1db34 # tag=v0.1.4
