---
name: test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  generate-registry:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua-ci.yaml
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: aquaproj/aqua-installer@v1.0.0
        with:
          aqua_version: v1.3.0
      - run: bash generate-registry.sh
      - run: git add .
      - run: git --no-pager diff --cached
      - run: |
          if ! git diff --cached --exit-code; then
            github-comment post -k generate-registry
            echo "There are diff." >&2
            echo 'Please run "bash generate-registry.sh"' >&2
            exit 1
          fi
        if: github.event_name == 'pull_request'
      - run: |
          if ! git diff --cached --exit-code; then
            echo "There are diff." >&2
            echo 'Please run "bash generate-registry.sh"' >&2
            exit 1
          fi
        if: "github.event_name != 'pull_request'"

  default:
    strategy:
      matrix:
        runs-on: ["ubuntu-latest", "macos-11"]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v3

      # Disable cache
      # The cache size is so huge that it takes a long time for `cache ~/.aqua` and `Post cache ~/.aqua`
      # e.g. https://github.com/aquaproj/aqua-registry/runs/4426879327
      #
      # - name: cache ~/.aqua
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/.aqua/pkgs
      #       ~/.aqua/registries
      #     key: v5-${{ runner.os }}-${{ hashFiles('registry.yaml') }}-${{ hashFiles('aqua-all.yaml') }}
      #     restore-keys: |
      #       v5-${{ runner.os }}-${{ hashFiles('registry.yaml') }}-
      #       v5-${{ runner.os }}-

      - uses: aquaproj/aqua-installer@v1.0.0
        with:
          aqua_version: v1.3.0
        env:
          AQUA_CONFIG: aqua-ci.yaml

      - name: run ci-info and update environment variables
        run: ci-info run | sed -E "s/^export //" >> "$GITHUB_ENV"
        env:
          AQUA_CONFIG: aqua-ci.yaml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: install packages for testing
        run: |
          empty=true
          if grep -E "target:" "$CI_INFO_TEMP_DIR/labels.txt" > /dev/null 2>&1; then
            grep -E "target:" "$CI_INFO_TEMP_DIR/labels.txt" | sed "s|^target:\(.*\)|- import: pkgs/\1/pkg.yaml|" >> aqua-ci.yaml
            empty=false
          fi
          if grep -E "^pkgs/.*\.yaml" < "$CI_INFO_TEMP_DIR/pr_all_filenames.txt" > /dev/null 2>&1; then
            grep -E "^pkgs/.*\.yaml" < "$CI_INFO_TEMP_DIR/pr_all_filenames.txt" | sed "s/registry\.yaml/pkg.yaml/" | sort -u | sed "s/^/- import: /" >> aqua-ci.yaml
            empty=false
          fi
          if [ "$empty" = "true" ]; then
            echo "[INFO] Add cli/cli for test" >&2
            echo "- import: pkgs/cli/cli/pkg.yaml" >> aqua-ci.yaml
          fi
          echo "[INFO] aqua-ci.yaml" >&2
          cat aqua-ci.yaml >&2
          echo "[INFO] + aqua -c aqua-ci.yaml i --test" >&2
          aqua -c aqua-ci.yaml i --test
          exit 0
      - name: test clippy-driver
        run: clippy-driver --help

