---
name: test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: cache ~/.aqua
        uses: actions/cache@v2
        with:
          path: |
            ~/.aqua/pkgs
            ~/.aqua/registries
          key: v1-${{ runner.os }}-${{ hashFiles('registry.yaml') }}-${{ hashFiles('aqua.yaml') }}
          restore-keys: |
            v1-${{ runner.os }}-${{ hashFiles('registry.yaml') }}-
            v1-${{ runner.os }}-

      - uses: suzuki-shunsuke/aqua-installer@main
        with:
          version: v0.7.4 # renovate: depName=suzuki-shunsuke/aqua
      - run: aqua i --test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
