---
name: test
on:
  pull_request:
    branches: [main]
permissions: {}
env:
  AQUA_LOG_COLOR: always
jobs:
  path-filter:
    # Get changed files to filter jobs
    outputs:
      renovate-config-validator: ${{steps.changes.outputs.renovate-config-validator}}
      check-files: ${{steps.changes.outputs.check-files}}
      generate-registry: ${{steps.changes.outputs.generate-registry}}
      json-schema: ${{steps.changes.outputs.json-schema}}
      test-docker: ${{steps.changes.outputs.test-docker}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        id: changes
        with:
          filters: |
            renovate-config-validator:
              - renovate.json5
            check-files:
              - pkgs/**/pkg.yaml
              - pkgs/**/registry.yaml
            generate-registry:
              - aqua/generate-registry.yaml
              - registry.yaml
              - pkgs/**/registry.yaml
            json-schema:
              - registry.yaml
            test-docker:
              - Dockerfile
              - aqua/test-docker.yaml

  status-check:
    # This job is used for main branch's branch protection rule's status check.
    # If all dependent jobs succeed or are skipped this job succeeds.
    runs-on: ubuntu-latest
    needs:
      - enable-automerge-renovate
      - renovate-config-validator
      - check-files
      - generate-registry
      - json-schema
      - prettier
      - test-docker
      - test
    permissions: {}
    if: failure()
    steps:
      - run: exit 1

  enable-automerge-renovate:
    runs-on: ubuntu-latest
    environment: renovate
    if: |
      github.event.pull_request.user.login == 'renovate[bot]' && contains(github.event.pull_request.body, ' **Automerge**: Enabled.')
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
      - name: Enable auto-merge
        run: gh -R "$GITHUB_REPOSITORY" pr merge --squash --auto --delete-branch "$PR_NUMBER"
        env:
          # github.token is unavailable, because github.token doesn't have a permission to delete a branch `renovate/*`
          # pull-requests: write and contents: write are required
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
          PR_NUMBER: ${{github.event.pull_request.number}}

  renovate-config-validator:
    # Validate Renovate Configuration by renovate-config-validator.
    uses: suzuki-shunsuke/renovate-config-validator-workflow/.github/workflows/validate.yaml@35f1c78014c423fd37eb792c73f11ec0898098f4 # v0.2.2
    needs: path-filter
    if: ${{needs.path-filter.outputs.renovate-config-validator == 'true'}}
    permissions:
      contents: read

  check-files:
    runs-on: ubuntu-latest
    needs: path-filter
    if: ${{needs.path-filter.outputs.check-files == 'true'}}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/registry-action/check-files@dff21577b6ec277b2645a7a40db12eeb15b4c581 # v0.2.0

  generate-registry:
    runs-on: ubuntu-latest
    needs: path-filter
    if: ${{needs.path-filter.outputs.generate-registry == 'true'}}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.16.0
          policy_allow: "true"
      - uses: aquaproj/registry-action/generate-registry@dff21577b6ec277b2645a7a40db12eeb15b4c581 # v0.2.0

  json-schema:
    runs-on: ubuntu-latest
    needs: path-filter
    if: ${{needs.path-filter.outputs.json-schema == 'true'}}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/registry-action/validate-json-schema@dff21577b6ec277b2645a7a40db12eeb15b4c581 # v0.2.0

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: npm i -g prettier
      - run: prettier -c .

  test-docker:
    runs-on: ubuntu-latest
    needs: path-filter
    if: ${{needs.path-filter.outputs.test-docker == 'true'}}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.16.0
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: bash scripts/test.sh suzuki-shunsuke/mkghtag

  ci-info:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua/ci-info.yaml
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.16.0
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - uses: suzuki-shunsuke/ci-info-action/store@20bd996e371b27a229a348a09e17db8dcab1f2be # v0.1.2
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "https://github.com/aquaproj/aqua-registry/pull/$CI_INFO_PR_NUMBER" >> "$GITHUB_STEP_SUMMARY"

  test:
    needs: ci-info
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
          - runs-on: macos-latest
          - runs-on: ubuntu-latest
            goarch: arm64
          - runs-on: macos-latest
            goos: darwin
            goarch: arm64
          - runs-on: windows-latest
            goarch: arm64
    runs-on: ${{ matrix.env.runs-on }}
    defaults:
      run:
        shell: bash
    env:
      AQUA_CONFIG: aqua/test.yaml
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: suzuki-shunsuke/ci-info-action/restore@20bd996e371b27a229a348a09e17db8dcab1f2be # v0.1.2

      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.16.0
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/registry-action/test@dff21577b6ec277b2645a7a40db12eeb15b4c581 # v0.2.0
        with:
          goos: ${{ matrix.env.goos }}
          goarch: ${{ matrix.env.goarch }}
          go_version: "1.20.3"
        env:
          GITHUB_TOKEN: ${{github.token}}
