---
name: test
on:
  pull_request:
    branches: [main]
permissions: {}
env:
  AQUA_LOG_COLOR: always
  AQUA_POLICY_CONFIG: ${{ github.workspace }}/aqua-policy.yaml
jobs:
  ci-info:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua/ci-info.yaml
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
        with:
          aqua_version: v2.0.0-3
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - uses: suzuki-shunsuke/ci-info-action/store@20bd996e371b27a229a348a09e17db8dcab1f2be # v0.1.2
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "https://github.com/aquaproj/aqua-registry/pull/$CI_INFO_PR_NUMBER" >> "$GITHUB_STEP_SUMMARY"

  test:
    needs: ci-info
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
          - runs-on: macos-latest
          - runs-on: ubuntu-latest
            goarch: arm64
          - runs-on: ubuntu-latest
            goos: darwin
            goarch: arm64
          - runs-on: windows-latest
            goarch: arm64
    runs-on: ${{ matrix.env.runs-on }}
    defaults:
      run:
        shell: bash
    env:
      AQUA_CONFIG: aqua/test.yaml
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - uses: suzuki-shunsuke/ci-info-action/restore@20bd996e371b27a229a348a09e17db8dcab1f2be # v0.1.2

      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
        with:
          aqua_version: v2.0.0-3
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/registry-action/test@39773065a44549758440b90a9e25f713c7e1db34 # tag=v0.1.4
        with:
          goos: ${{ matrix.env.goos }}
          goarch: ${{ matrix.env.goarch }}
          go_version: "1.18.5"
        env:
          GITHUB_TOKEN: ${{github.token}}

  # This job is used for branch protection rule
  # Add this job to `Status checks that are required`
  status-check:
    runs-on: ubuntu-latest
    needs: [test]
    if: failure()
    steps:
      - run: exit 1
