---
name: Update packages by aqua-registry-updater
on:
  workflow_dispatch:
    inputs:
      package:
        type: string
        description: "Package name"
        default: ""
        required: false
  schedule:
    - cron: "*/10 * * * *"

env:
  AQUA_GLOBAL_CONFIG: ${{ github.workspace }}/aqua-all.yaml
  AQUA_LOG_COLOR: always
  AQUA_CONFIG: ${{ github.workspace }}/aqua/update.yaml

jobs:
  update-pkgs:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.44.1
          policy_allow: "true"
          aqua_opts: -l -a
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          repositories: >-
            ["${{github.event.repository.name}}"]
          permissions: >-
            {
              "contents": "write",
              "pull_requests": "write"
            }
      - run: aqua-registry-updater
        if: inputs.package == ''
        env:
          AQUA_REGISTRY_UPDATER_CONTAINER_REGISTRY_TOKEN: ${{github.token}}
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - run: aqua-registry-updater "$PKG"
        if: inputs.package != ''
        env:
          AQUA_REGISTRY_UPDATER_CONTAINER_REGISTRY_TOKEN: ${{github.token}}
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
          PKG: ${{inputs.package}}
