---
name: Update packages by aqua-registry-updater
on:
  workflow_dispatch: {}
  schedule:
    - cron: "*/10 * * * *"

env:
  AQUA_GLOBAL_CONFIG: ${{ github.workspace }}/aqua-all.yaml
  AQUA_LOG_COLOR: always
  AQUA_CONFIG: ${{ github.workspace }}/aqua/update.yaml

jobs:
  update-pkgs:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.31.0-2
          policy_allow: "true"
          aqua_opts: -l -a
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          repositories: >-
            ["${{github.event.repository.name}}"]
          permissions: >-
            {
              "contents": "write",
              "pull_requests": "write"
            }
      - run: aqua-registry-updater
        env:
          AQUA_REGISTRY_UPDATER_CONTAINER_REGISTRY_TOKEN: ${{github.token}}
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
