---
name: wc-ci-info
on: workflow_call
jobs:
  ci-info:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua/ci-info.yaml
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - uses: suzuki-shunsuke/ci-info-action/store@ceeb10dd50cd632db31e7eccf92cbbb6856f3191 # v0.1.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "https://github.com/aquaproj/aqua-registry/pull/$CI_INFO_PR_NUMBER" >> "$GITHUB_STEP_SUMMARY"
