---
name: wc-ci-info
on: workflow_call
jobs:
  ci-info:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua/ci-info.yaml
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@9ebf656952a20c45a5d66606f083ff34f58b8ce0 # v4.0.0
        with:
          aqua_version: v2.53.3
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - uses: suzuki-shunsuke/ci-info-action/store@ceeb10dd50cd632db31e7eccf92cbbb6856f3191 # v0.1.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "https://github.com/aquaproj/aqua-registry/pull/$CI_INFO_PR_NUMBER" >> "$GITHUB_STEP_SUMMARY"
