---
name: generate-registry
on: workflow_call
jobs:
  generate-registry:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - uses: aquaproj/aqua-installer@4551ec64e21bf0f557c2525135ff0bd2cba40ec7 # v3.0.0
        with:
          aqua_version: v2.27.3
          policy_allow: "true"
      - uses: aquaproj/registry-action/generate-registry@dff21577b6ec277b2645a7a40db12eeb15b4c581 # v0.2.0
