---
name: generate-registry
on: workflow_call
jobs:
  generate-registry:
    runs-on: ubuntu-latest
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1
          policy_allow: "true"
      - uses: aquaproj/registry-action/generate-registry@7b6e2c92250ab08b58f5c665f6e2ca4712bee2c3 # v0.2.1
