---
name: generate-registry
on: workflow_call
jobs:
  generate-registry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.37.0
          policy_allow: "true"
      - uses: aquaproj/registry-action/generate-registry@7b6e2c92250ab08b58f5c665f6e2ca4712bee2c3 # v0.2.1
