---
name: json-schema
on: workflow_call
jobs:
  json-schema:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/registry-action/validate-json-schema@68f10339de561d67f9acea40b91dc36aa5011ea8 # v0.2.2
