---
name: json-schema
on: workflow_call
jobs:
  json-schema:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/registry-action/validate-json-schema@68f10339de561d67f9acea40b91dc36aa5011ea8 # v0.2.2
