---
name: json-schema
on: workflow_call
jobs:
  json-schema:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/registry-action/validate-json-schema@7b6e2c92250ab08b58f5c665f6e2ca4712bee2c3 # v0.2.1
