---
name: wc-lintnet
on: workflow_call
env:
  AQUA_LOG_COLOR: always
jobs:
  lintnet:
    runs-on: ubuntu-latest
    env:
      AQUA_CONFIG: aqua-all.yaml
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.43.3
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - run: lintnet lint
        env:
          GITHUB_TOKEN: ${{github.token}}
