---
name: wc-test
on: workflow_call
env:
  AQUA_LOG_COLOR: always
jobs:
  test:
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
            goos: ""
            goarch: ""
          - runs-on: ubuntu-latest
            goos: ""
            goarch: ""
          - runs-on: macos-13
            goos: ""
            goarch: ""
          - runs-on: ubuntu-latest
            goos: ""
            goarch: arm64
          - runs-on: macos-14
            goos: ""
            goarch: ""
          - runs-on: windows-latest
            goos: ""
            goarch: arm64
    runs-on: ${{ matrix.env.runs-on }}
    defaults:
      run:
        shell: bash
    env:
      AQUA_CONFIG: aqua/test.yaml
    permissions: {}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: suzuki-shunsuke/ci-info-action/restore@ceeb10dd50cd632db31e7eccf92cbbb6856f3191 # v0.1.3

      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.31.0-3
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/registry-action/test@7b6e2c92250ab08b58f5c665f6e2ca4712bee2c3 # v0.2.1
        with:
          goos: ${{ matrix.env.goos }}
          goarch: ${{ matrix.env.goarch }}
          go_version: "1.21.3"
        env:
          GITHUB_TOKEN: ${{github.token}}
