---
name: wc-test
on: workflow_call
env:
  AQUA_LOG_COLOR: always
jobs:
  test:
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
            goos: ""
            goarch: ""
          - runs-on: ubuntu-24.04
            goos: ""
            goarch: ""
          - runs-on: macos-13
            goos: ""
            goarch: ""
          - runs-on: ubuntu-24.04-arm
            goos: ""
            goarch: ""
          - runs-on: macos-14
            goos: ""
            goarch: ""
          - runs-on: windows-latest
            goos: ""
            goarch: arm64
    runs-on: ${{ matrix.env.runs-on }}
    defaults:
      run:
        shell: bash
    env:
      AQUA_CONFIG: aqua/test.yaml
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: suzuki-shunsuke/ci-info-action/restore@ceeb10dd50cd632db31e7eccf92cbbb6856f3191 # v0.1.3

      # - name: Generate token
      #   id: generate_token
      #   uses: tibdex/github-app-token@v1
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: aquaproj/aqua-installer@5c140f8fcd4035d84e5d893f1e4a9dc1283e1e4a # v4.0.1
        with:
          aqua_version: v2.53.3
          policy_allow: "true"
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/registry-action/test@7b6e2c92250ab08b58f5c665f6e2ca4712bee2c3 # v0.2.1
        with:
          goos: ${{ matrix.env.goos }}
          goarch: ${{ matrix.env.goarch }}
          go_version: "1.23.3"
        env:
          GITHUB_TOKEN: ${{github.token}}
